body{
    background-color: #e7f2f6;
    background-size: cover;
    padding: 50px;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
.star{
    color: red;
}
.main-heading{
    font-size: 30px;
    color: #f1046f;
}
.gender{
    padding-left: 10px;
}
#form-page2,#form-page3{
    display: none;
}
#success-Box{
    background-color: #fff;
    height: 100vh;
    display: none;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
#success-Box span{
    display: block;
    width: 100px;
    height: 100px;
    border: 6px solid green;
    font-size: 60px;
    font-weight: 800;
    color: green;
    border-radius: 50%;
}
#success-Box .success-text{
    font-size: 30px;
    color: green;
}
#success-Box #reset-btn{
    background-color: #f1046f;
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
}
#success-Box #preview-btn{
    background-color: #f1046f;
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
}
.previewDataForm{
    display: flex;
    justify-content: center;
    align-items: center;   
}
